@mixin clear-fix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//MEDIA QUERY MANAGER

@mixin respond-phone {
  @media (max-width: 600px) {
    @content;
  }
}

@mixin respond($type) {
  @if $type == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    }
  } @else if $type == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    }
  } @else if $type == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    }
  } @else if $type == desktop {
    @media only screen and (max-width: 112.5em) {
      @content;
    }
  } @else if $type == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    }
  }
}
